.hide-element{
    display: none;
  }

  .no-bullet{
    list-style-type: none;
  }

  /* .all-pools{
    margin-top: 30px;
  } */

  h2.pools-heading{
    font-size: 35px;
    font-family: monospace, Monaco;
  }

  .pool-button{
    border: 2px solid black;
    background: none;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
    margin: 5px;
    border-radius: 50%;
    width: 200px;
    height: 100px;
    background-color: #af6024; /* #D2691E;*/
    color: white;
  }

  .pool-button:hover{
    border: 5px solid black;
    color: black;
    font-weight: bold;
  }


  .radio-pick{
    border-radius: 0%;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: white;
    height: 22px;
    width: 22px;
    border: 1px solid white;
    
  }

  .pick-form{
    /* text-align: center; */
    border: 5px solid black;
    /* width: 800px;
    margin: 20px;
    height: 80px;
    position: relative; */
    width: 50%;
    height: 50%;
  }

  .right-pick{
    text-align: right;
    margin-left: 40px;
    border: 5px solid red;
    float: right;
    
  }

  .picks-form-div{
    border: 5px solid black;
    text-align: center;
  }

  .left-pick{
    text-align: left;
    margin-right: 40px;
    border: 5px solid red;
    float: left;
  }


  /* .pool-button{
    width: 150px;
    height: 80px;
    border-radius: 50%;
    margin-top: 50px;
    font-family: monospace, Monaco;
    background-color: #D2691E;
    color: white;
    border: 2px solid black;
    font-size: 35px;;
  }
  
  .pool-button:hover{
    color: #000;
    border: 5px solid black;
    font-weight: bold;
  } */